p {
    font-style: italic;
}

@font-face {
    font-family: Final;
    src: url(/font/finalf.ttf);
}

.ender {
    background-color: rgba(255, 255, 255, 0.518);
}

.header {
    background-color: rgba(48, 21, 21, 0.362);
}

.meat {
    background-color: rgba(255, 217, 0, 0.321);
    border-style: double;
    border-width: thick;
    border-color: rgb(128, 0, 0);
}

.div1 {
    width: 33%;
    float: left;
    width: 400px;
    height: 240px;
}

.div2 {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
}

.div3 {
    margin-left: auto;
    width: 400px;
    height: 440px;
}

.div4 {
    width: 66%;
    margin-left: auto;
    width: 580px;
    height: 380px;
}

.double {
    border-style: double;
    border-color: purple;
}